@font-face {
  font-family: myFont;
  src: url('./assets/fonts/OpenSans_Condensed-Medium.ttf');
  font-weight: 300;
}

@font-face {
  font-family: myFont;
  src: url('./assets/fonts/OpenSans_Condensed-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: myFont;
  src: url('./assets/fonts/OpenSans_Condensed-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: myFont;
  src: url('./assets/fonts/OpenSans_SemiCondensed-Bold.ttf');
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #12132a;
}

body {
  background-color: var(--bg-color);
  font-family: myFont;
}
